.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paddingr{
    padding-right: 20px;
}